.bg-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #272727;
  height: 80px;
}

.header-logo {
  height: 40px;
}

.nav-center {
  display: flex;
  gap: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  list-style-type: none;
}

.nav-link {
  text-decoration: none;
}

.home-link {
  margin: 0;
  font-size: 16px;
  /* color: #000; */
  color: white;
}

.logout-btn {
  padding: 8px 12px;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  width: 140px;
}
